body {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
}

.result {
  max-width: 50%;
  width: 100%;
  margin: auto;
  border: 1px solid #b4b4b4;
  font-size: 1.5rem;
  background-color: #b4b4b4;
}

.gridBox {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.resultDisplay {
  padding: 1rem;
  text-align: right;
}

.gridButton {
  padding: 1rem;
  border: 1px solid #d4d4d4;
  font-size: 1.2rem;
}

.gridButton:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.zero {
  grid-column: 1 / 3;
}

.divide,
.multiply,
.substract,
.add,
.equals {
  background-color: #ffa550;
}

.divide:hover,
.multiply:hover,
.substract:hover,
.add:hover,
.equals:hover {
  background-color: #ffa110;
}

.navbar {
  background-color: #ffa110;
  position: fixed;
  width: 100%;
  top: 0;
}

ul {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: flex-end;
  gap: 2rem;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

li a {
  text-decoration: none;
  color: #000;
}

li a:hover {
  color: #d4d4d4;
}

.showcase,
.quotes {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  text-align: center;
  width: 100%;
}

.calculator {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.quote {
  font-style: italic;
  font-size: 1.4rem;
}

.quoteAuthor {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
}
